p.responsive-debug {
  position: fixed;
  bottom: -20px;
  right: 0;
  color: black;
  background: white;
  font-size: 12px;
  opacity: .8;
  padding: 5px;

  input {
    text-align: right;
    font-weight: bold;
    color: #222;
    border: none;
    width: 45px;
    margin: 0 5px;
    display: inline;
  }
}

a.has-tip {
  color: #2ba6cb;
  border: none;
  &:hover {
    border: none;
  }
}

.dimmed {
  color: #aaa;
}

.top-bar > ul .name {
  img {
    opacity: .4;
  }

  @media(min-width: 940px) {
    img {
      margin-top: -4px;
      opacity: .2;
      @include transition (opacity .25s linear);

      &:hover {
        opacity: 1;
        @include transition (opacity .25s linear);
      }
    }
  }

  span {
    margin-left: 10px;

    @media(min-width: 420px) {
      margin-left: 20px;
      font-size: 16px;
    }
  }
}

h1 {
  margin-top: 28px;
  margin-bottom: 28px;
}

footer {
  margin-top: 100px;
  padding-top: 20px !important;
  text-align: center;
  border-top: 1px solid #efefef;

  a {
    color: #999;

    &:hover {
      color: #666;
    }
  }
}

.tables {
  table {
    border: none;
    width: 100%;

    tr {
      th {
        text-align: left;
        padding: 0 10px 5px;
        text-align: center;
      }

      td {
        vertical-align: middle;
        margin: 0;
        text-align: center;
      }

      .name {
        text-align: left;

        a {
          font-weight: bold;
        }
      }

      .image {
        text-align: right;


        img {
          height: 27px;
          width: 27px;
        }

        @media(max-width: 420px){
          display: none;
        }
      }

      @media(max-width: 840px){
        .last-match {
          display: none;
        }
      }

      @media(max-width: 480px) {
        .ratio {
          display: none;
        }
      }

      @media(max-width: 520px) {
        .won, .lost {
          display: none;
        }
      }

      @media(max-width: 320px) {
        .matches {
          display: none;
        }
      }

    }
  }
}

.match {
    .versus {
      text-align: center;
      h4 {
        margin-top: 73px;
        color: #ddd;
      }
    }

    a.submit-match {
      width: 100%;
      margin-top: 15px;
    }
  }